h1 {
	color: #FF8C00;
	font-family: "normal", "Arial", italic;
	text-align: center;
	font-size: 60px;
	font-style: oblique;
}


h2 {
	font-size: 40px;
	color: green;
	text-align: right;
	font: Arial;
	font-style: italic;
}


h3 {
 font-size: 20px;
 color: limegreen;
 font-family: "Verdana", "Verdana", italic;
 text-align: center;
font-style: oblique;
}


h4 {
font-size: 10px;
color: blue;
text-align: center;
font-family: "Comic Sans", "Comic Sans MS", cursive;
font-style: italic;
}


.uno {
color: red;
font-style: Arial;
font-size: 12px;
}


.dos {
font-style: calibri;
font-size: 10px;
color: black;
}